:root {
    --blanco: #FFFFFF;
    --negro: #222222;
    --gris: #353535;
    --grisClaro: #E1E1E1;
    --primario: #D4B48B;


    --fuentePrincipal: 'Vidaloka', serif;
    --fuenteSecundaria: 'PT Sans', sans-serif;
    --fuente: 'Commissioner', sans-serif;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--grisClaro);
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.9;

}

h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-family: var(--fuenteSecundaria);
    line-height: 1.9;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/** UTILIDADES **/
.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.btn {
    width: 80%;
    padding: 1rem;
    color: var(--blanco);
    background-color: var(--rojo);
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    transition: background 300ms ease;
}

.btn:hover {
    color: var(--blanco);
    background-color: var(--gris);
}

.header {
    background-color: var(--gris);
    box-shadow: 2px 1px 10px var(--negro);
    height: 25rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/** MENU **/
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.nav span {
    color: var(--primario);
}

.nav-link {
    color: var(--primario);
    text-decoration: none;
    font-weight: 400;
    font-family: var(--fuenteSecundaria);
}

.nav-link:hover {
    color: var(--blanco);
}

.logo {
    display: none;
}

.nav-menu {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
}

.nav-menu-item {
    font-size: 1.9rem;
    font-weight: 700;
    margin-left: 1rem;
    line-height: 20rem;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: .8rem 1.2rem;
    border-radius: .3rem;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: var(--negro);
    transition: background 0.5s ease;

}

/* TOGGLE */
.nav-toggle {
    color: var(--primario);
    background: none;
    border: none;
    font-size: 3rem;
    padding: 0 1rem;
    line-height: 3rem;
    cursor: pointer;
    display: none;
}

/* MOBILE */
@media (max-width: 900px) {
    /* body {
        padding-top: 7rem;
    } */

    .header {
        height: 6rem;
    }

    .nav img {
        display: none;
    }

    .logo {
        display: block;
        font-family: var(--fuente);
        font-size: 2.6rem;
        line-height: 3rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px var(--negro);
    }

    .logo:hover {
        color: var(--primario);
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: var(--gris);
        position: fixed;
        top: 6rem;
        width: 100%;
        padding: 2rem 0;
        height: calc(100% - 6rem);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 7rem;
        font-weight: 700;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: var(--blanco);
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

@media (max-width: 320px) {
    .logo {
        font-size: 2.2rem;
    }
}

/** FIN MENU **/

/** PRINCIPAL **/
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-imagen {
    width: 100%;
    height: 25rem;
    background-image: url(/img/foto-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.principal-texto {
    width: 90%;
    margin-top: -5rem;
    background-color: var(--blanco);    
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

@media (min-width: 768px) {
    .principal-imagen {
        height: 40rem;
    }

    .principal-texto {
        margin-top: -10rem;
    }
}

.principal-texto h1 {
    font-size: 2.8rem;
    color: var(--primario);
    text-align: center;
}

@media (min-width: 360px) {
    .principal-texto h1 {
        font-size: 3.2rem;
    }
}

@media (min-width: 768px) {
    .principal-texto h1 {
        font-size: 6rem;
        margin: 0;
        padding-top: 2rem;
    }
}

.principal-texto span {
    display: block;
    color: var(--gris);
    font-size: 1.6rem;
    margin-top: 1rem;
}

@media (min-width: 360px) {
    .principal-texto span {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .principal-texto span {
        margin: 0;
        padding-top: 1rem;
        font-size: 2.5rem;
    }
}

.principal-texto p {
    font-family: var(--fuente);
    text-align: center;
    padding: 0 2rem 2rem;
}

@media (min-width: 768px) {
    .principal-texto p {
        font-size: 2rem;
        padding: 4rem 5rem;
    }
}














/** BOTON SCROLL UP **/
.btn-scrolltop {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    padding: 1rem 1.8rem;
    background: var(--rojo);
    color: var(--gris);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transform: translateY(100px);
    transition: background 300ms ease;
}

@media (min-width: 768px) {
    .btn-scrolltop {
        padding: 1.5rem 2rem;
    }
}

.btn-scrolltop:hover {
    background-color: var(--azul);
}

.btn-scrolltop-on {
    transform: translateY(0);
}

.fa-chevron-up {
    color: var(--negro);
}

/** FIN BOTON SCROLL UP **/