:root {
    --blanco: #FFFFFF;
    --negro: #222222;
    --gris: #353535;
    --grisClaro: #D4CDC3;
    --primario: #D4B48B;

    --fuentePrincipal: 'Vidaloka', serif;
    --fuenteSecundaria: 'PT Sans', sans-serif;
    --fuente: 'Commissioner', sans-serif;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--grisClaro);
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.9;
}

h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-family: var(--fuenteSecundaria);
    line-height: 1.9;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/** UTILIDADES **/
.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.btn {
    width: 100%;
    padding: 1rem;
    color: var(--primario);
    background-color: var(--gris);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    transition: background 300ms ease;
}

.btn:hover {
    color: var(--blanco);
    background-color: var(--gris);
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--gris);
    box-shadow: 2px 1px 10px var(--negro);
    height: 25rem;
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/** MENU **/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav span {
    color: var(--primario);
}

.nav-link {
    color: var(--primario);
    text-decoration: none;
    font-weight: 400;
    font-family: var(--fuenteSecundaria);
}

.nav-link:hover {
    color: var(--blanco);
}

.logo {
    display: none;
}

.nav-menu {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
}

.nav-menu-item {
    font-size: 1.9rem;
    font-weight: 700;
    margin-left: 1rem;
    line-height: 20rem;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: .8rem 1.2rem;
    border-radius: .3rem;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: var(--negro);
    transition: background 0.5s ease;

}

/* TOGGLE */
.nav-toggle {
    color: var(--primario);
    background: none;
    border: none;
    font-size: 3rem;
    padding: 0 1rem;
    line-height: 3rem;
    cursor: pointer;
    display: none;
}

/* MOBILE */
@media (max-width: 998px) {
    .header {
        position: fixed;
        height: 6rem;
    }

    .nav img {
        display: none;
    }

    .logo {
        display: block;
        font-family: var(--fuentePrincipal);
        font-size: 2.9rem;
        line-height: 3rem;
        text-transform: uppercase;
    }

    .logo:hover {
        color: var(--primario);
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: var(--gris);
        position: fixed;
        top: 6rem;
        width: 100%;
        padding: 2rem 0;
        height: calc(100% - 6rem);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 7rem;
        font-weight: 700;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: var(--blanco);
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

@media (max-width: 320px) {
    .logo {
        font-size: 2.2rem;
    }
}

/** FIN MENU **/

/**! PAGINA DE INICIO **/
/** PRINCIPAL **/

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
}

@media (min-width: 998px) {
    .principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 9rem;
    }
}

.principal-imagen {
    width: 100%;
    height: 25rem;
    background-image: url(/img/foto-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .3rem;
}

.principal-texto {
    width: 90%;
    margin-top: -11rem;
    background-color: var(--blanco);
}

@media (min-width: 768px) {
    .principal-imagen {
        height: 35rem;
    }

    .principal-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 3rem 0;
        margin-top: -18rem;
        width: 80%;
    }
}

@media (min-width: 998px) {
    .principal-imagen {
        width: 120%;
        height: 45rem;
    }

    .principal-texto {
        margin: 0;
        height: 85%;
        width: 117%;
        margin-left: -10rem;
        padding: 3rem;
    }
}

.principal-texto h1 {
    font-size: 2.8rem;
    color: var(--primario);
    text-align: center;
}

@media (min-width: 360px) {
    .principal-texto h1 {
        font-size: 3.2rem;
    }
}

@media (min-width: 768px) {
    .principal-texto h1 {
        font-size: 4rem;
        margin: 0;
    }
}

@media (min-width: 998px) {
    .principal-texto h1 {
        font-size: 5rem;
    }
}

.principal-texto span {
    display: block;
    color: var(--gris);
    font-size: 1.6rem;
    margin-top: 1rem;
}

@media (min-width: 360px) {
    .principal-texto span {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .principal-texto span {
        margin: 0;
        font-size: 2.3rem;
    }
}

@media (min-width: 998px) {
    .principal-texto span {
        font-size: 2.2rem;
    }
}

.principal-texto p {
    font-size: 1.7rem;
    font-family: var(--fuente);
    text-align: center;
    padding: 0 2rem 3rem;
}

@media (min-width: 768px) {
    .principal-texto p {
        font-size: 1.7rem;
        padding: 3rem 0;
    }
}

@media (min-width: 998px) {
    .principal-texto p {
        font-size: 1.8rem;
        padding: 2rem 0;
    }
}

/** ESPECIALIDADES **/
.especialidades {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .especialidades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem 2rem;
        margin-top: 5.2rem;
    }
}

@media (min-width: 998px) {
    .especialidades {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin-top: 8rem;
    }
}

.box-especialidad h2 {
    color: var(--primario);
    margin: 2rem 0;
    font-size: 3.2rem;
    text-align: center;
}

.box-especialidad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-especialidad:nth-child(4) .box-texto {
    margin-bottom: 0;
}

@media (min-width: 998px) {
    .box-especialidad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.box-1 {
    width: 100%;
    height: 25rem;
    background-image: url(/img/foto-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .3rem;
}

.box-3 {
    width: 100%;
    height: 25rem;
    background-image: url(/img/foto-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .3rem;
}

.box-5 {
    width: 100%;
    height: 25rem;
    background-image: url(/img/foto-5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .3rem;
}

.box-7 {
    width: 100%;
    height: 25rem;
    background-image: url(/img/foto-7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .3rem;
}

.box-texto {
    background-color: var(--blanco);
    width: 90%;
    height: 100%;
    margin-top: -10rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .box-texto {
        margin-bottom: 0;
    }
}

@media (min-width: 998px) {
    .box-texto {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .box-1,
    .box-3,
    .box-5,
    .box-7 {
        height: 28rem;
        border-radius: 0;
    }

    .box-especialidad {
        display: flex;
        flex-direction: row;
    }

    .box-especialidad:nth-child(1) .box-1 {
        order: 2
    }

    .box-especialidad:nth-child(3) .box-5 {
        order: 1
    }
}

.box-texto p {
    font-family: var(--fuente);
    font-size: 1.7rem;
    padding: 0 2rem 3rem;
    text-align: center;
}

.box-especialidad img {
    width: 100%;
}

/** INFORMACION **/
.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .informacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
    }
}

@media (min-width: 998px) {
    .informacion {
        margin-top: 8rem;
    }
}

.informacion-imagen {
    width: 100%;
    height: 25rem;
    background-image: url(/img/background-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .3rem;
}

@media (min-width: 768px) {
    .informacion-imagen {
        width: 100%;
        min-width: 40rem;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.informacion-texto {
    background-color: var(--blanco);
    width: 90%;
    margin-top: -10rem;
}

@media (min-width: 768px) {
    .informacion-texto {
        width: 100%;
        height: 100%;
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.informacion-texto h2 {
    color: var(--primario);
    margin: 2rem 0;
    font-size: 3.2rem;
    text-align: center;
}

.informacion-texto ul {
    list-style: none;
    font-family: var(--fuente);
    font-size: 1.7rem;
    padding: 0 2rem 2rem;
}

@media (min-width: 768px) {
    .informacion-texto ul {
        padding: 0 0 2rem 4rem;
    }
}

@media (min-width: 998px) {
    .informacion-texto ul {
        padding: 0 0 2rem 4rem;
    }

    .informacion-texto li {
        font-size: 1.8rem;
    }
}

.informacion-texto i {
    color: var(--primario);
    font-weight: 700;
    padding: 0 1rem;
}

@media (min-width: 998px) {
    .informacion-texto i {
        padding: 0 2rem;
    }
}

.informacion-texto li:nth-child(1),
.informacion-texto li:nth-child(3),
.informacion-texto li:nth-child(5),
.informacion-texto li:nth-child(7) {
    color: var(--gris);
    font-weight: 900;
}

.informacion-hora {
    padding-bottom: 1rem;
    font-style: italic;
}

/** GALERIA **/
.galeria {
    margin-top: 5rem;
}

@media (min-width: 998px) {
    .galeria {
        margin-top: 8rem;
    }
}

.fotografias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: var(--blanco);
    border-top: 1rem solid var(--blanco);
    border-bottom: 1rem solid var(--blanco);
}

@media (min-width: 998px) {
    .fotografias {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
        border: none;
        max-width: 120rem;
        margin: 0 auto;
        width: 90%;
    }
}

.foto {
    width: 100%;
    height: 20rem;
}

.foto:nth-child(1) {
    background-image: url(/img/galeria-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.foto:nth-child(2) {
    background-image: url(/img/galeria-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.foto:nth-child(3) {
    height: 100%;
    background-image: url(/img/galeria-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.foto:nth-child(4) {
    height: 100%;
    background-image: url(/img/galeria-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.foto:nth-child(5) {
    background-image: url(/img/galeria-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.foto:nth-child(6) {
    background-image: url(/img/galeria-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

@media (min-width: 998px) {
    .foto {
        height: 20rem;
    }

    .foto:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .foto:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .foto:nth-child(6) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
}

/** TESTIMONIOS **/
.testimoniales {
    margin-top: 5rem;
}

@media (min-width: 998px) {
    .testimoniales {
        margin-top: 8rem;
    }
}

.testimoniales h2 {
    font-size: 4rem;
    text-align: center;
}

.testimonios {
    display: grid;
    gap: 2rem;
}

@media (min-width: 768px) {
    .testimonios {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 998px) {
    .testimonios {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin-top: 7rem;
    }
}

.reseña {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blanco);
    border-radius: .3rem;
    padding: 2rem;

}

@media (min-width: 998px) {
    .reseña {
        padding: 3rem;
    }
}


.reseña p {
    font-family: var(--fuente);
    font-size: 1.7rem;
    padding: 0 0 1rem 0;
}

.reseña p:nth-child(1) {
    color: var(--gris);
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--fuentePrincipal);
}

.reseña span {
    font-size: 2rem;
    color: rgb(255, 204, 0);
}

.reseña-nombre {
    font-weight: 700;
}

/**! PAGINA CONOCENOS **/
.texto-historia {
    background-color: var(--blanco);
    padding: 2rem 3rem;
    margin-top: 10rem;
    border-radius: .3rem;
}

@media (min-width: 768px) {
    .texto-historia {
        margin-top: 12rem;
    }
}

@media (min-width: 998px) {
    .texto-historia {
        margin-top: 11rem;
    }
}

.texto-historia h2 {
    font-size: 4rem;
    color: var(--primario);
    text-align: center;
}

.texto-historia p {
    font-size: 1.7rem;
    color: var(--negro);
    font-family: var(--fuente);
    padding: 2rem 0;
    text-align: center;
}

@media (min-width: 998px) {
    .texto-historia p {
        text-align: justify;
    }
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr .5fr;
    margin: 4rem 0 5rem;
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 5.5rem 0 4.5rem;
    }
}

@media (min-width: 998px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        row-gap: 15rem;
        margin: 10rem 0 11rem;
    }
}

.imagen-david {
    background-image: url(/img/david.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15%;
    border-radius: .3rem;
    margin-right: 2rem;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .imagen-david {
        width: 120%;
        margin: 0;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}

@media (min-width: 998px) {
    .imagen-david {
        width: 100%;
        height: 40rem;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.presentacion-david {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blanco);
    margin: -10rem 0 4rem 2rem;
    padding: 3rem;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

@media (min-width: 768px) {
    .presentacion-david {
        padding: 5rem;
        margin-bottom: 6.5rem;
        margin-left: -10rem;
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }
}

@media (min-width: 998px) {
    .presentacion-david {
        min-width: 116%;
        padding: 5rem;
        margin: 10rem 0 -5rem -10rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.presentacion-david h2 {
    width: 25%;
    color: var(--primario);
    font-size: 4rem;
    border-bottom: 2px solid var(--gris);
    margin-bottom: 2rem;
}

@media (min-width: 998px) {
    .presentacion-david h2 {
        font-size: 5rem;
        width: 10%;
    }
}

.presentacion-david p {
    font-size: 1.7rem;
    font-family: var(--fuente);
}

@media (min-width: 998px) {
    .presentacion-david p {
        padding: 2rem 0;
    }
}

.presentacion-david span {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 2rem;
}

.presentacion-david span i {
    color: var(--primario);
    font-size: 3.9rem;
    transition: color 300ms ease;
}

@media (min-width: 998px) {
    .presentacion-david span i:hover {
        color: var(--gris);
    }
}

.imagen-rocio {
    background-image: url(/img/rocio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin-right: 2rem;
    border-radius: .3rem;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

@media (min-width: 768px) {
    .imagen-rocio {
        width: 120%;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}

@media (min-width: 998px) {
    .imagen-rocio {
        width: 100%;
        height: 40rem;
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.presentacion-rocio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blanco);
    margin: -10rem 0 0rem 2rem;
    padding: 3rem;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}

@media (min-width: 768px) {
    .presentacion-rocio {
        padding: 5rem;
        margin-bottom: 2rem;
        margin-left: -10rem;
        grid-column: 3 / 5;
        grid-row: 4 / 5;
    }
}

@media (min-width: 998px) {
    .presentacion-rocio {
        width: 116%;
        padding: 5rem;
        margin: 10rem 0 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.presentacion-rocio h2 {
    width: 25%;
    color: var(--primario);
    font-size: 4rem;
    border-bottom: 2px solid var(--gris);
    margin-bottom: 2rem;
}

@media (min-width: 998px) {
    .presentacion-rocio h2 {
        font-size: 5rem;
        width: 10%;
    }
}

.presentacion-rocio p {
    font-size: 1.7rem;
    font-family: var(--fuente);
}

@media (min-width: 998px) {
    .presentacion-rocio p {
        padding: 2rem 0;
    }
}

.presentacion-rocio span {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 2rem;
}

.presentacion-rocio span i {
    color: var(--primario);
    font-size: 3.9rem;
    transition: color 300ms ease;
}

@media (min-width: 998px) {
    .presentacion-rocio span i:hover {
        color: var(--gris);
    }
}

/**! PAGINA SERVICOS **/
.contenido-servicios {
    display: grid;
    gap: 2rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .contenido-servicios {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 998px) {
    .contenido-servicios {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10rem;
        gap: 3rem;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.imagen-card {
    display: flex;
    align-items: center;
    background-color: var(--blanco);
    padding: 2rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

@media (min-width: 998px) {
    .imagen-card {
        padding: 4rem;
    }

    .imagen-card img {
        cursor: pointer;
        transition: transform 300ms ease;
    }

    .imagen-card img:hover {
        transform: scale(1.2);
    }
}

.texto-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gris);
    padding: 2rem 0;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

@media (min-width: 998px) {
    .texto-card {
        padding: 3rem;
    }
}

.texto-card h2 {
    color: var(--primario);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

@media (min-width: 998px) {
    .texto-card h2 {
        font-size: 3.5rem;
        text-align: left;
    }
}

.texto-card p {
    color: var(--blanco);
    font-size: 2rem;
    font-family: var(--fuenteSecundaria);
    text-align: center;
    margin-bottom: -1rem;
}

@media (min-width: 998px) {
    .texto-card p {
        text-align: left;
        font-size: 2.5rem;
        margin-top: -2rem;
    }
}

.card:nth-child(3)>.texto-card p {
    font-size: 2rem;
}

@media (min-width: 998px) {
    .card:nth-child(3)>.texto-card p {
        font-size: 2.5rem;
        margin: 0;
    }
}

.card:nth-child(9)>.texto-card p {
    font-size: 2rem;
}

@media (min-width: 998px) {
    .card:nth-child(9)>.texto-card p {
        font-size: 2.5rem;
        margin: 0;
    }
}

.card:nth-child(10)>.texto-card p {
    font-size: 2rem;
    margin-top: 0;
}

@media (min-width: 998px) {
    .card:nth-child(10)>.texto-card p {
        font-size: 2.5rem;
    }
}

.texto-card span {
    font-weight: 700;
    font-size: 4rem;
    padding-left: .5rem;
}

@media (min-width: 998px) {
    .texto-card span {
        font-size: 5rem;
    }
}

/**! PAGINA CONTACTO **/
.datos-contacto {
    margin: 10rem auto 3rem;
}

@media (min-width: 768px) {
    .datos-contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 11rem auto 5rem;
    }
}

@media (min-width: 999px) {
    .datos-contacto {
        margin: 10rem auto;
    }
}

.informacion-contacto {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 2rem 1rem;
    background-color: var(--blanco);
    background-image: url(/img/wave.svg);
    background-repeat: no-repeat;
    background-position: 6%;
    background-size: cover;
    padding: 3rem;
    border-radius: .3rem;
}

@media (min-width: 768px) {
    .informacion-contacto {
        border-radius: .3rem 0 0 .3rem;
    }
}

.iconos-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: var(--gris);
}

@media (min-width: 999px) {
    .iconos-contacto {
        width: 5rem;
        height: 5rem;
        margin: 0 auto;
        border-radius: 2.5rem;
    }
}

.iconos-contacto i {
    color: var(--primario);
    font-size: 2rem;
}

.info-contacto {
    display: flex;
    align-items: center;
}

.info-contacto p {
    color: var(--gris);
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    font-weight: 700;
}

@media (min-width: 998px) {
    .info-contacto p {
        transition: transform 300ms ease;
    }

    .info-contacto p:hover {
        transform: translate(.8rem);
    }
}

.info-contacto a {
    color: var(--gris);
    text-decoration: none;
}

@media (min-width: 768px) {
    .ubicacion {
        margin: 0 0 -1rem;
    }
}

.ubicacion {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .ubicacion {
        margin: 0;
    }
}

.ubicacion iframe {
    width: 100%;
    height: 40rem;
    border-radius: .3rem;
}

@media (min-width: 768px) {
    .ubicacion iframe {
        height: 40rem;
        border-radius: 0 .3rem .3rem .3rem;
        margin: 0;
    }
}

/**! PAGINA GALERIA **/
.galeria-principal {
    margin: 10rem 0 4rem;
}

@media (min-width: 998px) {
    .galeria-principal {
        margin-bottom: 10rem;
    }

}

.galeria-texto {
    background-color: var(--blanco);
    position: relative;
}

.galeria-texto i {
    font-size: 3.5rem;
    color: var(--gris);
    position: absolute;
    top: .4rem;
    left: .4rem;
}
.galeria-texto i:hover {
    color: var(--negro);
}
@media (min-width: 998px) {
    .galeria-texto {
        max-width: 90%;
        width: 120rem;
        margin: 0 auto;
    }

    .galeria-principal .galeria-texto p {
        padding: 0 20rem 2rem;
    }
}

.galeria-principal h2 {
    color: var(--gris);
    text-align: center;
    font-size: 3.8rem;
    padding: 2rem 0;
}

.galeria-principal p {
    font-family: var(--fuente);
    padding: 0 2rem 3rem;
    text-align: center;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: var(--blanco);
    border-bottom: 1rem solid var(--blanco);
}

@media (min-width: 768px) {
    .fotos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 998px) {
    .fotos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 998px) {
    .fotos {
        border: 1rem solid var(--blanco);
    }
}

@media (min-width: 998px) {
    .fotos {
        max-width: 120rem;
        margin: 0 auto;
        width: 90%;
    }
}

.foto-galeria {
    width: 100%;
    height: 30rem;    
}

.foto-galeria:nth-child(1) {
    background: url(/img/foto-galeria-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .foto-galeria:nth-child(1) {
        background-position: center;
    }
}

@media (min-width: 998px) {
    .foto-galeria:nth-child(1) {
        grid-row: 1 / 3;
        height: 100%;
    }
}

.foto-galeria:nth-child(2) {
    height: 20rem;
    background: url(/img/foto-galeria-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% top;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .foto-galeria:nth-child(2) {
        background-position: center top;
        height: 30rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

@media (min-width: 998px) {
    .foto-galeria:nth-child(2) {
        grid-column: 1 / 2;
    }
}

.foto-galeria:nth-child(3) {
    background: url(/img/foto-galeria-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .foto-galeria:nth-child(3) {
        background-position: center;
    }
}

.foto-galeria:nth-child(4) {
    background: url(/img/foto-galeria-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65%;
}

.foto-galeria:nth-child(5) {
    height: 20rem;
    background: url(/img/foto-galeria-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

@media (min-width: 768px) {
    .foto-galeria:nth-child(5) {
        background-position: center;
        height: 30rem;
        grid-column: 1 / 2;
    }
}

@media (min-width: 998px) {
    .foto-galeria:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

.foto-galeria:nth-child(6) {
    background: url(/img/foto-galeria-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .foto-galeria:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

@media (min-width: 998px) {
    .foto-galeria:nth-child(6) {
        grid-row: 3 / 5;
        height: 100%;
    }
}

.foto-galeria:nth-child(7) {
    height: 20rem;
    background: url(/img/foto-galeria-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 3;
}

@media (min-width: 768px) {
    .foto-galeria:nth-child(7) {
        background-position: center;
        height: 30rem;
        grid-column: 1 / 2;
    }
}

@media (min-width: 998px) {
    .foto-galeria:nth-child(7) {
        grid-column: 1 / 2;
    }
}

.foto-galeria:nth-child(8) {
    background: url(/img/foto-galeria-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;

}

.foto-galeria:nth-child(9) {
    background: url(/img/foto-galeria-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
}

.foto-galeria:nth-child(10) {
    height: 20rem;
    background: url(/img/foto-galeria-10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
}

@media (min-width: 768px) {
    .foto-galeria:nth-child(10) {
        background-position: center;
        height: 30rem;
        grid-column: 2 / 3;
    }
}

@media (min-width: 998px) {
    .foto-galeria:nth-child(10) {
        grid-column: 3 / 4;
    }
}

/** LOCALIZACION **/
.localizacion {
    margin-top: 5rem;
}

@media (min-width: 998px) {
    .localizacion {
        margin-top: 8rem;
    }
}

/** MAPA  **/
.mapa {
    overflow: hidden;
    padding-bottom: 30rem;
    /* Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50% */
    position: relative;
    height: 0;
    border-radius: .5rem;
}

@media (min-width: 998px) {
    .mapa {
        border-radius: 0;
        /* box-shadow: 0px 0px 5px var(--gris); */
    }
}

.mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/** FIN MAPA **/

/** FOOTER **/
.footer {
    background: url(/img/background-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.datos-interes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 4rem;
    padding: 4rem 0;
}

.logo-footer img {
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 1250px) {
    .logo-footer img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .datos-interes {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 0;
    }

    .logo-footer {
        grid-column: 2 / 3;
    }

    .redes-sociales {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .datos-ineteres,
    .enlaces:nth-child(2) {
        grid-row: 1 / 2;
    }
}

@media (min-width: 1250px) {
    .datos-interes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 8rem 0;
    }

    .logo-footer {
        grid-column: 1 / 2;
    }

    .redes-sociales {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .datos-ineteres,
    .enlaces:nth-child(2) {
        grid-column: 2 / 3;
    }
}

.datos-interes ul {
    list-style: none;
    text-align: center;
    margin: 0;
}

.enlaces a {
    font-family: var(--fuenteSecundaria);
    color: var(--primario);
    font-size: 1.8rem;
    font-weight: 400;
    transition: color 300ms ease;
}

.enlaces a:hover {
    color: var(--blanco);
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redes-sociales h3 {
    color: var(--blanco);
    font-size: 3rem;
    font-family: var(--fuentePrincipal);
    text-align: center;
}

@media (min-width: 768px) {
    .redes-sociales {
        display: grid;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 998px) {
    .redes {
        display: flex;
        align-items: flex-start;
    }
}

.redes li {
    display: inline;
}

.redes a {
    color: var(--primario);
    font-size: 3.5rem;
    cursor: pointer;
    padding: 0 2rem;
    transition: color 300ms ease;
}

.redes a:hover {
    color: var(--blanco);

}

@media (min-width: 768px) {
    .redes a {
        font-size: 4.2rem;
        padding: 0 1.5rem;
    }
}

@media (min-width: 998px) {
    .redes a {
        padding: 0 2rem;
    }
}

/** COPY **/
.legal {
    background-color: var(--primario);
}

.copy p {
    color: var(--gris);
    font-size: 1.4rem;
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

@media (min-width: 998px) {
    .copy p {
        font-size: 1.6rem;
    }
}

.copy span {
    display: block;
}

/** FIN COPY **/


/** BOTON SCROLL UP **/
.btn-scrolltop {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    padding: .5rem 1.5rem;
    background: var(--negro);
    color: var(--gris);
    border: none;
    cursor: pointer;
    transform: translateY(100px);
    border-radius: .5rem;
    border: 1px solid var(--primario);

}

@media (min-width: 768px) {
    .btn-scrolltop {
        padding: 1.5rem 2rem;
    }
}

.btn-scrolltop-on {
    transform: translateY(0);
}

.fa-chevron-up {
    color: var(--primario);
}

/** FIN BOTON SCROLL UP **/



.separadores {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .separadores {
        grid-template-columns: 5fr 1fr 5fr;
        margin-top: 4.8rem;
    }
}

@media (min-width: 998px) {
    .separadores {
        grid-template-columns: 8fr 1fr 8fr;
        margin-top: 7.8rem;
    }
}

.separador-linea-left,
.separador-linea-right {
    border-bottom: solid 1px var(--blanco);
    width: 100%;
    height: 1.4rem;
}

.separador-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    color: var(--blanco);
}